 <form (submit)="handleclick($event)">
    <div class="card flex flex-wrap justify-center items-end gap-4 mt-4">

            <p-floatlabel variant="on">
                <input #nomeInput id="nomeInput" type="InputTextModule" pInputText class="on_label" [formField]="crudForm.nome" autocomplete="off" />
                <label for="on_label">Nome</label>
                    @if (crudForm.nome().invalid()) {
                      <p class="error">O campo "nome" tem erros de validação:</p>
                      <ul>
                        @for (error of crudForm.nome().errors(); track error) {
                          <li>{{ error.message }}</li>
                        }
                      </ul>
                    }
            </p-floatlabel>
    </div>
    <div class="card flex flex-wrap justify-center items-end gap-4 mt-4">

            <p-floatlabel variant="on">
                <input pInputText class="on_label" [formField]="crudForm.descricao" autocomplete="off" />
                <label for="on_label">Descrição</label>
                @if (crudForm.descricao().invalid()) {
                  <p class="error">O campo "descrição" tem erros de validação:</p>
                  <ul>
                    @for (error of crudForm.nome().errors(); track error) {
                      <li>{{ error.message }}</li>
                    }
                  </ul>
                }
            </p-floatlabel>
    </div>

    <div class="card flex flex-wrap justify-center items-end gap-4 mt-4">

            <p-floatlabel variant="on">
                <input pInputText class="on_label" [formField]="crudForm.foto" autocomplete="off" />
                <label for="on_label">Foto qualquer</label>
            </p-floatlabel>
    </div>
    <div class="card flex flex-wrap justify-center items-end gap-4 mt-4">
      <div class="card flex justify-center gap-4">
        <p>Foi trabalhoso fazer esse crud? </p>
        <p-checkbox [formField]="crudForm.trabalho" [binary]="true" />
      </div>
  </div>
  <div class="card flex flex-wrap justify-center items-end gap-4 mt-4">

            <p-floatlabel variant="on">
                <input pInputText class="on_label" [formField]="crudForm.nota" autocomplete="off" />
                <label for="on_label">Nota para seu crud</label>
                @if (crudForm.nota().invalid()) {
                  <p class="error">O campo "nota" tem erros de validação:</p>
                  <ul>
                    @for (error of crudForm.nota().errors(); track error) {
                      <li>{{ error.message }}</li>
                    }
                  </ul>
                }
            </p-floatlabel>
    </div>
    <div class="card flex justify-center mt-4">
      <p-button type="submit" [disabled]="crudForm().invalid()" label="Salvar" (onClick)="handleclick($event)" />
    </div>
    </form>